body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1323px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1323px;
  height:983px;
  display:flex;
  transition:none;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1323px;
  height:983px;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:565px;
  width:166px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:565px;
  width:170px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#000000;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:347px;
  width:106px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#000000;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:449px;
  width:106px;
  height:81px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:347px;
  width:306px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.hint {
}
#u5_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.disabled {
}
#u5_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.hint.disabled {
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:449px;
  width:306px;
  height:81px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.hint {
}
#u6_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.disabled {
}
#u6_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.hint.disabled {
}
